<!-- start carousol -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
  <div class="carousel-inner ">
   <div class="carousel-item active">
      <img src="../../../assets/iamges/carsoul1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/iamges/ImageHandler.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/iamges/climatechange_heroslider_15-ho_playing-13_copy.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- end carsoul -->

<!--start عن المكاتب -->
<div class="about p-5">
  <div class="special-heading">ماهي رياده الاعمال</div>
  <h2 class="head">رياده الاعمال</h2>
  <div class="line"></div>
  <div class="text">
    <p>لا شك أننا نؤمن جميعًا بأن العالم أجمع فى تطور وتقدم دائم مضطرد فى مختلف المجالات العلمية والإقتصادية والتجارية، هذا التقدم يحتم على الدول السعى الدؤوب لتوفير سبل الرفاهية والإبتكار والتطوير لشعوبها هذا بجانب رغبتها فى الريادة على المستوى السياسى والإقتصادى. ويعد البحث العلمى هو القوى المحركة للدول المتقدمة فى ريادة الأنشطة المختلفة ولا يقف فى كونه قاطرة التقدم لها، إلا أنه أصبح معيارًا تقدر على أساسه حجم الدول وثقلها، وعلى ذلك فقد إتجهت ميزانية الدول الكبرى إلى تكريس الطاقة البشرية، والإمكانات المادية، </p>
  </div>
</div>
<!-- نهايه عن المكاتب -->
