@import "../../../../../styles.scss";
@import "../../../../app.component.scss";

.carousel-indicators{
    button{
        width: 10px;
        height: 10px;
        background-color: $sec-color;
        border-radius: 50% 50%;
    }
}

.carousel-inner{
    position: relative;
    .carousel-item{
        img{
            width: 100vh;
            height: 100vh;
            // background-position: center center;
            // background-size: cover;
        }
        
        .layer{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 1;
            background-color: hsla(0, 0%, 0%, 0.293);
        }
    }
}