
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>اين نحن؟</h4>
                            <span>محافظه المنوفيه,شبين الكوم</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>تواصل معنا</h4>
                            <span>9876543210</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>راسلنا</h4>
                            <span>mnf-science.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../../assets/iamges/menofia-university.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>ترجع فكرة إنشاء مكتب المشروعات والمنح والتعاون الدولي الى حرص ادارة الجامعة على تعظيم الاستفادة من المنح المحلية والدولية المقدمة للجامعة</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>تابعنا علي </span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>مواقع هامه</h3>
                        </div>
                        <ul>
                            <li><a href="#">الرئيسيه</a></li>
                            <li><a href="#">عن المكتب</a></li>
                            <li><a href="#">دعم الابتكار</a></li>
                            <li><a href="#">دراسه الاحتياجات</a></li>
                            <li><a href="#">تسجيل الطاقات</a></li>
                            <li><a href="#"> الدورات التدريبيه</a></li>
                            <li><a href="#">نادي رياده الاعمال</a></li>
                            <li><a href="#">تواصل معنا</a></li>
                            <li><a href="#">اخر الاخبار</a></li>
                            <li><a href="#">التسجيل</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>لا تنس ان تشترك لمعرفه اخر الاخبار</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="البريد الالكتروني">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-6 text-center ">
                    <div class="copyright-text text-center">
                        <p>حقوق النشر  &copy; 2023 محفوظه لدي جامعه المنوفيه </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>