<div class=" img-layer">

    <div class=" tittle">
        <h2>عن الجامعه</h2>
    </div>
</div>
<div class="about">

    <div class="part">
        <h3> <i class="fas fa-lightbulb pr-3"></i> عن المكتب</h3>
        <h5>مكتب المشروعات والمنح والتعاون الدولي
        </h5>
        <p>ترجع فكرة إنشاء مكتب المشروعات والمنح والتعاون الدولي الى حرص ادارة الجامعة على تعظيم الاستفادة من المنح المحلية والدولية المقدمة للجامعة وذلك من خلال زيادة عدد المنح المحلية والدولية بالجامعة وإيجاد آلية لتنظيم العلاقة بين جميع الأطراف ذات الصلة بما يتوافق مع سياسات الجامعة وشروط الجهة المانحة وإهتمامات السادة الباحثين بالجامعة </p>
    </div>
    <div class="row">
        <div class="col-md-8 ">
            <div class="content">
                <h2> <i class="fas fa-star"></i>رؤية المكتب</h2>
                <p> الارتقاء والتميز فى مجال تنظيم وتدعيم العلاقات بين جامعة المنصورة ومصادر التمويل المحلية والدولية اللازمة لإجراء البحوث العلمية والتطبيقية بهدف اعداد كوادر علمية متخصصة لدعم البحث العلمى بالجامعة وتلبية احتياجات المجتمع المحلى والأقليمى والدولى .</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/iamges/8-proven-steps-to-create-a-profitbale-online-course.webp" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ">
            <div class="content">
                <h2><i class="fas fa-users"></i> رسالة المكتب</h2>
              <p>يسعى المكتب جاهداً لفتح قنوات اتصال مباشرة ومستمرة مع الجهات الممولة محلياً ودولياً وتعظيم الاستفادة من مصادر التمويل المتاحة وذلك فى إطار رسالة جامعة المنصورة لإعداد الكوادر المتخصصة والمتميزة القادرة على تلبية احتياجات المجتمع المحلى والاقليمى والدولى من خلال دور رائد فى مجال البحث العلمى وتطوير التعليم لمواكبة التطورات العالمية ونقل المعارف وتوطيد العلاقات بين الجهات المعنية المختلفة .</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/iamges/Create-a-Khan-Academy-like-website-with-WordPress-Tutor-LMS.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ">
            <div class="content">
                <h2> <i class="fas fa-trophy"></i>  نشاط المكتب</h2>
               <ol>
                <li> التفاوض وتنفيذ نقل المواد وتبادل البيانات واتفاقيات عدم الكشف اللازمه للبحث العلمى.</li>
                <li> التواصل مع الهيئات والجامعات الدولية في الخارج للتعاون.</li>
                <li> إقامة شراكات تعليمية وبحثية علمية للتبادل العلمى ونقل الخبرات.</li>
                <li> التواصل مع الهيئات والجامعات الدولية في الخارج للتعاون.</li>
               </ol>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/iamges/eLearning-Courses-1140x570.jpg" alt="">
        </div>
    </div>
</div>
