@import "../../../styles.scss";
@import "../../app.component.scss";

header{
    .navbar{
        padding: 15px 0px ;
    }
    .top-nav{
        .lanuage{
            &:hover{
                color: $main-color;
            }
        }
    }
    .bottom-nav{
        .navbar-nav{
            li{
                a{
                    color: $bg-light;
                    &:hover{
                        color: $main-color;
                    }
                }
            }
        }
    }
}