@import "../../../styles.scss";
@import "../../app.component.scss";


header {

    // position: fixed;
    // z-index: 2;
    // top: 0;
    // width: 100%;
    .navbar-brand {
        img {
            width: 200px;
            height: 80px;
        }
    }

    .navbar {
        padding: 15px 0px;
    }

    .top-nav {
        position: relative;
        border-bottom: 1px solid $main-color;
        transition: all .5s;

        .dark-mode {
            position: absolute;
            left: 225px;
            margin-left: 20px;

            li {
                i {
                    font-size: 18px;
                    color: $main-color;
                    transition: all .3s ease-in-out;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        .lanuage {
            li {
                margin: 0px 10px;
                font-size: 15px;

                i {
                    padding: 7px;
                }
            }

            .mybtn {
                padding: 3px 8px;
            }
        }
    }

    .bottom-nav {
        transition: .5s;

        .navbar-nav {
            li {
                padding: 0px 20px;

                .nav-active {
                    transform: scale(1.1);
                    color: $sec-color;
                }

                a {
                    color: $text-light;

                    &:hover {
                        transform: scale(1.1);
                        color: $sec-color;
                    }
                }
            }
        }
    }
}

.nav-scroll {
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .7s;

    .navbar {
        padding: 15px 0px;

        li {
            padding: 0px 20px;

            a {
                color: $text-light;

                &:hover {
                    transform: scale(1.1);
                    color: $sec-color;
                }
            }

            .nav-active {
                transform: scale(1.1);
                color: $sec-color;
            }
        }
    }
}

.nav-scroll.scroll {
    top: 0;
    opacity: 1;
    visibility: visible;
}