


// $main-color: #267871;
// $sec-color: #BA8B02;
// $text-dark: #000;
// $text-light: #fff;;
// $newsColors:#FFFAFA;


// //   اقتراحاات الواان 
// $kinght: #BA8B02;
// $red: #dc2430;
// $turquoise: #267871;
// $red2: #710215;
// $blue: #3d72b4;


$main-color:#0d47a1;
$sec-color:#fb8c00;
$text-dark: #000;
$text-light: #fff;
$main-op:#0d48a09d;


